body{
    --main-bg-white: #ffffff;
    --main-bg-bone: #EBDACC;
    --main-bg-calico: #E2C196;
    --main-bg-santafe: #B2784A;
    --main-bg-mulefawn: #8F542E;
    --main-bg-woodbark: #291505;
    --main-bg-brown: #57290B;
    --main-bg-hover: #CA8E67;
    --main-bg-forms-white: #F5F3ED;

    --main-color-banner: #F0F0F0;
    --main-color-white: #FFDABB;

    --maing-underline-bege: #FBC9A8 ;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: var(--main-bg-brown);
}

header span{
    color: var(--main-color-white);
    font-family: 'Cormorant Garamond';
    text-decoration: underline;
    text-decoration-color: var(--main-bg-santafe);
    text-decoration-thickness: 2px;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: var(--main-bg-brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    margin-top: 1px;
}

footer span{
    color: var(--main-color-white);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

.numero span{
    text-decoration-line: none;
    margin-left: 5px;
}

.numero {
    padding: 10px;
    display: flex;
}

#banner{
    background-image: url(../img/BannerCafe.png);
    height: 560px;
    display: grid;
    grid-template-columns: 60% 40%;
}

#banner span{
    color: var(--main-color-banner);
}

.banner-texto{
    color: var(--main-color-banner);
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10% 22%;
    justify-content: space-between;
}

.titulo{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.subtitulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.botao{
    background-color: var(--main-bg-mulefawn);
    border-radius: 8px;
    border: 0;
    color: var(--main-color-banner);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover{
    background-color: var(--main-bg-hover);
    color: var(--main-bg-white);
}

.botao img{
    margin-left: 10px;
}

#contato{
    padding-left: 13%;
    margin-bottom: 100px;
}

.informacaoForms{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

.informacoesContato{
    padding: 20px;
    background-color: var(--main-bg-mulefawn);
    border-radius: 8px 0 0 8px;
}

.formulario{
    background-color: var(--main-bg-forms-white);
    border-radius: 0 8px 8px 0;
    width: 100%;
}

.contatoLinha{
    display: flex;
    flex-direction: row;
}

.informacaoCard{
    width: 90%;
    background-color: red;
    display: flex; 
    flex-direction: row; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contatoLinha{
    color: var(--main-color-banner);
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-weight: 18px;
}

.endereco{
    word-break: normal;
    width: 224px;
}

.logoBranca{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 50px 0;
}

.hrInformacao{
    border-top: 1px solid var(--main-bg-santafe);
    width: 80%;
    margin: 20px auto;
}

.formsCard{
    width: 100%;
    margin: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.inputTextNE{
    width: 80%;
    height: 70px;
    border-width: 1px;
    border-radius: 8px ;
    border-color: var(--main-bg-mulefawn);
}

.inputTextMsg{
    width: 80%;
    height: 220px;
    border-width: 1px;
    border-radius: 8px ;
    border-color: var(--main-bg-mulefawn);
}

.labelText{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.labels{
    width: 100%;
}
#sobre-nos{
    padding: 0 13% 0 13%;
}
.entreEmContato{
    text-decoration: underline 10px var(--maing-underline-bege);
    font-weight: 700;
    font-size: 40px;
}
.sobreNosBloco{
    display: flex;
    justify-content: space-around; 
}
.textoNosDiv{
    width: 70%;
}

.esquerdaSobreNos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textoNos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.tituloNos{
    text-decoration: underline 10px var(--maing-underline-bege);
    font-weight: 700;
    font-size: 20px;
}